{%extends "layout.html"%}
{%block container %}
{% import "_macros.html" as macros %}
<body>

<form method="POST" action="" class="max-w-sm mx-auto space-y-4">
    {{ form.csrf_token }}
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>

    <div  class="relative z-0 w-full mb-5 group">
        {{macros.campoNuevo(form.id, class="block mb-2.5 text-sm font-medium text-heading",readonly=true )}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
        {{macros.campoNuevo(form.nombre, class="block mb-2.5 text-sm font-medium text-heading" )}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
        {{macros.campoNuevo(form.apellidos, class="block mb-2.5 text-sm font-medium text-heading" )}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {{macros.campoNuevo(form.email, class="block mb-2.5 text-sm font-medium text-heading" )}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
        {{macros.campoNuevo(form.telefono, class="block mb-2.5 text-sm font-medium text-heading" )}}
    </div>

    <div>
     <button type="submit"
        class="flex-1 py-3 px-6 text-white font-semibold rounded-xl 
               bg-gradient-to-r from-blue-600 to-indigo-600 
               shadow-lg shadow-blue-500/30 
               hover:from-blue-700 hover:to-indigo-700 
               hover:shadow-xl hover:shadow-blue-500/40 
               transform hover:-translate-y-0.5 
               active:scale-95 
               transition-all duration-300 ease-in-out">
        Eliminar Alumno
    </button>

    <a href="{{ url_for('index') }}"
       class="flex-1 text-white bg-danger border border-transparent 
              hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium 
              shadow-xs font-medium rounded-xl text-sm 
              px-6 py-3 text-center 
              active:scale-95 transition-all duration-300 ease-in-out">
        Cancelar
    </a>
</div>
</form>
</body>
{%endblock%} 