{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="container mx-auto mt-10">
    <form method="POST" action="" class="max-w-sm mx-auto space-y-4 p-6 bg-white rounded-2xl shadow-xl border border-gray-100">
        {{ form.csrf_token }}

        <h2 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2">Editar Alumno</h2>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.id, class="block mb-2.5 text-sm font-medium text-heading", readonly=true) }}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.nombre, class="block mb-2.5 text-sm font-medium text-heading") }}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.apellidos, class="block mb-2.5 text-sm font-medium text-heading") }}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.email, class="block mb-2.5 text-sm font-medium text-heading") }}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.telefono, class="block mb-2.5 text-sm font-medium text-heading") }}
        </div>

        <div class="flex flex-row gap-4 mt-8 w-full">
            
            <button type="submit"
                class="flex-1 justify-center py-3 px-6 text-white font-bold rounded-xl 
                       bg-blue-600 hover:bg-blue-700 shadow-lg 
                       transition-all duration-300 active:scale-95">
                Guardar Cambios
            </button>

            <a href="{{ url_for('index') }}"
               class="flex-1 inline-flex items-center justify-center py-3 px-6 
                      text-gray-700 bg-gray-200 font-bold rounded-xl 
                      hover:bg-gray-300 transition-all active:scale-95">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}